.navbar {
  height: 5.06rem;
  display: flex;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo-img {
  width: 8.75rem;
  object-fit: contain;
  margin: 0.00rem;
  margin-top: 1.0.12rem;
}

.search-icon {
  padding: 0.31rem;
  height: 1.38rem !important;
  background-color: #ffc107;
  cursor: pointer;
}

.search {
  margin: 1.19rem;
  margin-left: 6.25rem;
  display: flex;
  flex: 0.9;
  align-items: center;
  border-radius: 1.50rem;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  flex: 1.1;
  margin-left: -0.62rem;
}

.search-input {
  height: 0.75rem;
  padding: 0.62rem;
  width: 100%;
  border: none;
}

.menu-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0.00rem;
  margin-right: 0.62rem;
  color: #e0e0e0;
  cursor: pointer;
}

.menu-option:hover {
  color: #ffc107;
}

.menu-option-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.option-cart {
  display: flex;
  align-items: center;
  color: #38b449;
  cursor: pointer;
}

.option-cart:hover {
  color: #ffc107;
}

.nav-favorite-icon:hover {
  color: #ffc107;
}

.all {
  font-size: 1.06rem;
  color: rgb(222, 250, 12);
  cursor: pointer;
  font-style: bold, italic;

}

.all:hover {
  color: #da190b;
}

.option-products {
  align-items: center;
  color: #38b449;
  cursor: pointer;
  margin-right: 0.31rem;
  position: relative;
}

.category {
  font-size: 1.06rem;
  color: rgb(249, 244, 238);
  cursor: pointer;
}

.category:hover {
  color: #da190b;
}

.option-favorite {
  display: flex;
  align-items: center;
  color: #38b449;
  cursor: pointer;
  margin-right: 0.31rem;
}

.count {
  margin-left: 0.62rem;
  margin-right: 0.62rem;
  color: red;
}

.nav-favorite-icon {
  color: #38b449;
}

.option-cart,
.option-favorite {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 102%;
  left: 50%;
  transform: translateX(-50%);
  width: 11.25rem;
  /* background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%); */
  background: #ffc107;
  color: gray;
  padding: 0.62rem;
  box-shadow: 0.00rem 0.50rem 1.00rem 0.00rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 56.25rem) {
  .dropdown-menu {
    width: 6.25rem;
  }

  .search {
    margin: 1.19rem;
  }
}

.dropdown-menu img {
  width: 3.12rem;
  height: 3.12rem;
  object-fit: cover;
  margin-right: 0.62rem;
}

.dropdown-menu .product-name {
  font-size: 1.00rem;
  font-weight: bold;
}

.dropdown-menu .product-price {
  font-size: 0.88rem;
  color: #03dac6;
}

.delete-button {
  background-color: #f44336;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0.25rem;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  font-size: 0.81rem;
}

.delete-button:hover {
  background-color: #da190b;
  color: white;
}
