.all-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: center;
}

.item {
  position: relative;
  flex: 0 0 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  border: 0.06rem solid #ddd;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
  justify-content: space-between;
}

.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0.62rem;
  left: 50%;
  transform: translateX(-50%);
}

.item:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.12),
    0 0.3125rem 0.625rem rgba(0, 0, 0, 0.06);
}

.title {
  width: 80%;
  text-align: center;
}

.title {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.75rem;
}

.price {
  position: absolute;
  bottom: 2.50rem;
  left: 50%;
  transform: translateX(-50%);

  font-size: 1rem;
  color: #333;
  font-weight: bold;
  width: 70%;
  text-align: center;
}

.image {
  width: 100%;
  max-width: 5.75rem;
  height: auto;
  border-radius: 0.25rem;
  transition: transform 0.3s ease;
  margin-bottom: 1.08rem;
}

.image:hover {
  transform: scale(1.05);
}

.cart-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-to-cart {
  border: none;
  border-radius: 0.25rem;
  background-color: #ffc107;
  color: #333;
  font-size: 0.81rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.add-to-favorites {
  border: none;
  padding: 0.5rem 1rem;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.favorite-icon {
  border: none;
  display: inline-flex;
  padding: 0.25rem;
  position: absolute;
  top: 0.62rem;
  right: 0.62rem;
}

@media (max-width: 37.50rem) {
  .item {
    flex: 0 0 30%;
  }

  .image {
    max-width: 6.25rem;
  }

  .title,
  .price {
    font-size: 0.8rem;
  }

  .add-to-cart {
    font-size: 0.62rem;
  }
}

@media (min-width: 37.50rem) and (max-width: 56.25rem) {
  .item {
    flex: 0 0 22%;
  }

  .image {
    max-width: 7.50rem;
  }

  .title,
  .price {
    font-size: 0.9rem;
  }

  .add-to-cart {
    font-size: 0.69rem;
  }
}
